<nav class="nav">
    <div class="inner">
        <div class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
        <div class="search">

            <!-- 使用该代码即表示您同意接受 Google 自定义搜索服务条款。 -->
            <!-- 相关服务条款请见 http://www.google.com//cse/docs/tos.html -->
            <form method="get" action="https://www.google.com/search" target="_blank">
                <input type="hidden" name="hl" value="" />
                <input name="q" type="text" />
                <input type="submit" name="sa" value="搜索" />
            </form>
        </div>
    </div>

</nav>